.blog-body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    display: flex;
    position: relative;

}
.blog-container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    background-color: var(--brandColor);
    box-shadow: var(--bigBoxShadow);
    text-align: center;
}


.post-image {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.post-content {
    margin-bottom: 40px;
    font-size: 1.1em;
    line-height: 1.8;
    
}
.quote {
    font-style: italic;
    background-color: var(--brandSkyBlueLight);
    padding: 10px 20px;
    margin: 20px 0;
    border-left: 8px solid var(--brandGold);
    font-size: 1em;
    text-align: left;
    color: var(--brandColor)
}

.fa-quote-left {
    margin-right: 8px;
    color: var(--brandColor);
    font-style: italic;
}

.fa-quote-right {
    margin-left: 8px;
    color: var(--brandColor);
    font-style: italic;
}

.content {
    margin: 10px;
    padding: 20px;
    background: white;
    box-shadow: var(--yellowBoxShadow);
}

.post-title, h2 {
    margin-top: 0;
}

.sidebar {
    margin: 20px 0 0 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.7);
    color: white;
}


.sidebar h3 {
    color: black;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar ul li a:hover {
    color: #ffc107 !important;
}

.sidebar ul li i {
    color: var(--brandLightOrange);
    margin-right: 10px;
}