* {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    background-color: var(--purpleColorLighter);

}

:root {
    --transparentBackground: rgba(255, 255, 255, 0.65);
    --brandColor: rgb(69, 9, 116);
    --brandColorLight: rgba(69, 9, 116,0.95);
    --brandSkyBlue: rgba(58, 143, 183, 1);
    --brandSkyBlueLight: rgba(58, 143, 183, .5);
    --brandSilver: rgba(227, 227, 227, 1);
    --brandLimeGreen: rgba(71, 148, 28);
    --brandLimeGreenLight: rgba(74, 148, 28, .5);
    --brandRed: rgba(174, 19, 47);
    --brandBrightYellow: rgba(255, 255, 0, 1);
    --brandSoftPink: rgba(215, 131, 190, 1);
    --brandLightOrange: rgba(217, 113, 38);
    --brandGold: rgba(244, 196, 48, 1);
    --brandGreen: rgb(172, 200, 188);

    --brandColorTextbox: #f1e2fd;
    --tabletSpaceBetweenElements: 25px;
    --titleBackground: rgba(69, 9, 116,0.8);
    --transparentWork: rgba(000, 000, 000, 0.8);
    --linkShadow: 2px 2px rgba(000,000,000, .55);
    --bigBoxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.4) !important;
    --smallBoxShadow: 0 4px 8px 0 rgba(69, 9, 116,0.15), 0 6px 20px 0 rgba(69, 9, 116,0.45) !important;
    --yellowBoxShadow: 0 4px 8px 0 rgba(228, 215, 122,0.15), 0 6px 20px 0 rgba(228, 215, 122,0.65) !important;
    --greenBoxShadow: 0 4px 8px 0 rgba(172,200,188,0.85), 0 6px 20px 0 rgba(172,200,188,0.95) !important;
    --largeHoverShadow: 0 0 40px 0 var(--brandLightOrange) !important;
    --brandYellowHover: #E4D77A;
    --purpleColorLight: #46097459;
    --buttonShadow: 0 0 35px 0 var(--brandColorTextbox);
    --brandGreenLight: rgba(172,200,188, 0.2);
    --purpleColorLighter: rgba(69, 9, 116,0.08);
    --greyBoxShadow: 0 0.5em 1em -0.125em rgba(10,10,10,0.2), 0 0px 1px rgba(10,10,10,0.5);
}

.box-shadow {
    box-shadow: var(--greyBoxShadow);
}

.yellow-shadow {
    box-shadow: var(--greyBoxShadow);
}

.green-shadow {
    box-shadow: var(--greyBoxShadow);
}

#background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;

}

.background-image {
    position: absolute;
    background-image: url('../../public/assets/images/output.png');
    background-size: cover;
    width: 800px; /* Adjust the size as needed */
    height: 533px; /* Adjust the size as needed */
    opacity: 0.1; /* Adjust the transparency as needed */
    animation: warp 10s infinite alternate;

}

.background-image2 {
    position: absolute;
    background-image: url('../../public/assets/images/fractal-output.png');
    background-size: cover;
    width: 512px; /* Adjust the size as needed */
    height: 512px; /* Adjust the size as needed */
    opacity: 0.05; /* Adjust the transparency as needed */
    animation: rotate 100s infinite alternate;

}

@keyframes warp {
    0% {
        transform: scale(1) skew(0deg, 0deg);
    }
    50% {
        transform: scale(1.03) skew(3deg, 1deg);
    }
    100% {
        transform: scale(1) skew(0deg, 0deg);
    }
}

@keyframes rotate {
    0% {
        transform: scale(1) rotate(0deg);
    }

    100% {
        transform: scale(1) rotate(180deg);
    }
}

/* Text Styles */

p {
    font-size: 16px;
}

small {
    color: black;
    font-size: large;
}

h1 {
    font-size: 32px;
    color: var(--brandColor);
}

h2 {
    color: var(--brandColor);

}

.jumboCopy h3 {
    font-size: 20px;

}

form h2 {
    color: white
}

.linkOnPurple {
    color: var(--brandGreen) !important;
    text-decoration: underline;
}

.linkOnPurple:hover {
    color: var(--greenBoxShadow) !important;
    text-decoration: underline;
}

/* Button Style */

.onPurpleButton{
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: var(--brandGold);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid var(--brandColor);
        border-color: transparent;
        transition: border-color 0.5s ease;
        z-index: -1; /* Ensure the pseudo-element is behind the text */
    }

    &:hover::before {
        border-color: var(--brandColor);
        animation: drawBorder 1s forwards;
        
    }

    &:hover::after {
        border-color: var(--brandColor);
        animation: drawBorder 1s backwards;
        
    }

    @keyframes drawBorder {
        0% {
            width: 0;
            height: 0;
            top: 0;
            left: 0;
            border-top: 2px solid var(--brandColor);
            border-right: 2px solid transparent;
            border-bottom: 2px solid transparent;
            border-left: 2px solid transparent;
        }
        25% {
            width: 100%;
            height: 0;
            top: 0;
            left: 0;
            border-right: 2px solid var(--brandColor);
        }
        50% {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-bottom: 2px solid var(--brandColor);
        }
        75% {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-left: 2px solid var(--brandColor);
        }
        100% {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-color: var(--brandColor);
        }
    }
    
}

.header {
    margin-top: 50px !important;

}
.onPurpleButton:hover {
    transform: scale(1.05);
    transition: 0.33s;
    box-shadow: var(--buttonShadow);

}

#notice {
    margin-bottom: 15px !important;
}

.display-none {
    display: none !important;

}

.btn-primary {
    display: flex;
    align-items: center;
    border-radius: 0px;
    border: 2px, solid, var(--brandColor);
    
    background-color: transparent;
    color: var(--brandColor);
}

.btn-primary:hover {
    border-color: black;
    transition: 0.5s;
    background-color: var(--brandColor);
    color: white !important;
    box-shadow: var(--linkShadow);
}

.purple-text {
    color: var(--brandColor);
}

/* Project Button Style */

.filter-tags{
    display: flex;
    justify-content: left ;
    flex-wrap: wrap;
    gap: 25px;

}

.filter-button{
    display: flex;
    padding: 3px 10px 3px 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: var(--brandGold);
    transition: 0.33s;
    border: none;
    box-shadow: var(--linkShadow);
    
}

.filter-button:hover {
    transform: scale(1.15);
    transition: 0.33s;
    background-color: var(--brandSoftPink);

}

.filter-button-active {
    background-color: var(--brandSoftPink);
    transform: scale(1.15);

}

.filter-chevron {
    height: 10px;
    width: 10px;
    transform: rotate(90deg);
}

.uniformWidth {
    min-width: 20vh;
}

.projectBtn-wrapper {
    display: flex;
    justify-content: center;

}

.projectBTN{
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    transition: 400ms;
    transform: scale(1);
    background-color: var(--brandGreen);
    
}

.projectBTN:hover {
    transition: 200ms;
    transform: scale(1.03);
    box-shadow: var(--buttonShadow);
}

/* Nav Bar */

#logoWrapper {
    position: relative;
    height: 75px;
}

.logoImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
    transform-origin: center;

}

#logoImg1 {
    opacity: 1;
    transform: rotate(0deg);
    min-width: 125px;
}

#logoImg2 {
    opacity: 0;
    transform: rotate(-180deg);
    min-width: 100px;

}

#logoWrapper:hover #logoImg1 {
    opacity: 0;
    transform: rotate(-360deg);
}

#logoWrapper:hover #logoImg2 {
    opacity: 1;
    transform: rotate(0deg);
}

li {
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    margin: 0px 15px;
}

a {
    color: var(--brandColor) !important;
}

.dropdown-item {
    color: white !important;
}

.dropdown-item:hover {
    color: black !important;
    transition: 0.5s;
}

.dropdown-menu {
    background-color: var(--brandColor);
}

.btn-primary {
    border-color: var(--brandColor);
    background-color: transparent;
}

a:hover {
    text-decoration: none;
}

.navbar-brand {
    text-align: left;
    padding-top: 0;
}

.navbar .container-fluid {
    padding-left: 0;

}

.navbar {
    z-index: 1;
    padding: 0px;
    background-image: linear-gradient(to top,
    rgba(255,255,255,0.3),
    rgba(255,255,255,1));
}

.navbar-collapse {
    flex-grow: 0; /* Ensure it doesn't grow and push items out of view */
    margin-right: 10px;
}

.navbar-white {
    background-color: white;
}

.navbar-toggler {
    margin-right: 10px;
}

.navbar-toggler:focus {
    box-shadow: none!important;
}

/* Hero Section (Jumbotron) */

.jumbotron {
    height: 60vh;
    background-image: url(../../public/assets/images/desktop-hero-rob-hiking-sunset.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-shadow: var(--bigBoxShadow);
}

.jumboCopy {
    padding: 10px;
    display: flex;
    background-color: var(--transparentBackground);
    flex-wrap: wrap;
    text-align: left;
    width: 70%;
    margin-bottom: 50px;
}

.page-break {
    padding: 20px;
    display: flex;
    background-color: var(--transparentBackground);
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 80%;
    box-shadow: var(--smallBoxShadow);
}


.page-break h2 {
    color: var(--brandColor);
    text-align: center;
}

.page-break-background {
    padding: 25px 0;
    background-color: var(--brandGreen);
    display: flex;
    align-content: center;
    justify-content: center;
}

.yellow-background{
    background-color: var(--brandYellowHover);

}

.green-background{
    background-color: var(--brandGreenLight);

}

.purple-background{
    background-color: var(--purpleColorLighter);
}

#cookie-link {
    color: white !important;
    text-decoration: underline;
}

.homepage-icons{
    color: var(--brandColor);
    margin-right: 10px;

}

/* work Section */
.project-container {
    animation: projectFade .5s;

}

@keyframes projectFade {
    0% {
        opacity: 0;
    }
    

    100% {
        opacity: 1;
    }
}

.work-card {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center;
    min-height: 60vh !important;
    box-shadow: var(--bigBoxShadow);
    position: relative;
    transition: 400ms ease-in;
    transform: scale(1);

}

.work-card:hover {
    box-shadow: var(--largeHoverShadow);
    transition: 400ms;
    transform: scale(1.02);

}

.work-ul {
    background-color: var(--transparentWork);
    flex-wrap: wrap-reverse;
    justify-content: left;

}

.h3-portfolio {
    text-align: center;
    color: white;
    padding: 5px;
}

#card-description {
    text-align: center;
    background-color: var(--brandColor);
    color: white;
    padding: 5px;
    position: absolute;
    bottom: 0;
    border-radius: 40px 40px 0 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1), 5px 6px 25px 0 rgba(0, 0, 0, 1) !important;
    min-height: 18vh !important;
}

#card-description p {
    font-size: 14px;
    margin: 0 auto;
    width: 90%;
}

.mb-4 {
    margin-bottom: 0 !important;
}

/* Icon Colour */

.bi {
    color: var(--brandColor);
    font-size: 20px;
    margin-right: 10px;
}

/* Animation for little platform icons in work section */

.animate-icon {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

    60% {
		transform: scale(1.5);
	}

	100% {
		transform: scale(1);
	}
}

/* Contact section */

.about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


#robs-headshot {
    object-fit: contain;
    max-height: 65vh;
    width: 100%;
    justify-self: center;
}


.about-btn {
    display: flex;
    justify-content: center;
    margin: 25px 0px;
}

/* Footer Styles */
#footer-wrapper {
    background-color: var(--brandColor);
    text-align: center;
    color: white;

}

#footer-locations {
    display: flex;
    justify-content: space-evenly;
    font-weight: 100;


}

#footer-locations .nav-item {
    font-size: 15px;

}


#footer {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
}

footer h2 {
    color: white !important;
}

footer #circle {
    width: 200px;
    border-radius: 15px;
    background-color: #fff;
    margin-bottom: 25px;
}

.hello-world {
    color: #9880ff;
}

#footer-logo{
    width: 50%;
    border: 1px solid white;
    margin-bottom: var(--tabletSpaceBetweenElements);
}

.footer-nav {
    color: var(--brandGreen) !important;
    text-decoration: underline;
}

.footer-nav:hover {

    background-color: white;
    text-decoration: underline;
    color: black !important;
    box-shadow: 2px 2px rgba(000,000,000,.5);
}

#footer-logo:hover {
    transition: 1s;
    transform: scale(1.25);
    box-shadow: 5px 10px rgba(000,000,000,.5);
}

@media screen and (max-width:768px)

{
    /* Prevents jumbo copy from overlappging header on smaller screens */
    .text-image-alternator {
        display: none;
    }

    .about-me p{
        margin-top: 10px;
    }

    #robs-headshot {
        object-position: 50% 55%;
        width: 100%;
        height: 50vh;
    }


    .jumbotron {
        height: 100%;
        background-position: right;
    }

    .jumboCopy {
        width: 100%;
        padding: 15px;
        margin-top: 100px;
    }

    /* Allows main portfolio card to adjust height to contain content automtically */

    .portfolio-height {
        height: auto;
    }

    /* Card description copy width is increased to improve appearance on smaller and lower resolution devices */

    #card-description p {
        width: 95%;
    }


}

span button {
    margin-top: 1em;
    margin-bottom: 1em;
}

.button-chevron {
    height: 25px;
    animation: button-chevron 1s infinite linear;
}

@keyframes button-chevron {
    0%, 100% {
        transform: translateX(0);
        animation-timing-function: cubic-bezier(0.215,0.61,0.355,1);
    }
    50% {
        transform: translateX(6px);
        animation-timing-function: cubic-bezier(0.55,0.055,0.675,0.19);
    }
}

/* Mobile Screens */

@media only screen and (max-width: 768px ) {
    h1{
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

}

/* Loading button animation] */

.sendingMessage {
    pointer-events: none;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    background-color: var(--brandGold);
    margin-top: 1em;
    margin-bottom: 1em;
}

.dot-carousel {
    margin: auto;
    position: relative;
    left: -9999px;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
    animation: dot-carousel 1.5s infinite linear;
  }
  
  @keyframes dot-carousel {
    0% {
      box-shadow: 9984px 0 0 -1px #9880ff, 9999px 0 0 1px #9880ff, 10014px 0 0 -1px #9880ff;
    }
    50% {
      box-shadow: 10014px 0 0 -1px #9880ff, 9984px 0 0 -1px #9880ff, 9999px 0 0 1px #9880ff;
    }
    100% {
      box-shadow: 9999px 0 0 1px #9880ff, 10014px 0 0 -1px #9880ff, 9984px 0 0 -1px #9880ff;
    }
  }

  /* End */

.checkbox {
    display: flex;
    height: 25px;
    width: 25px;
    margin:10px

}

#outputPage {
    margin-top: 25px
}
