* {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
}

:root {
    --transparentBackground: rgba(255, 255, 255, 0.65);
    --brandColor: rgba(69, 9, 116,1);
    --brandColorLight: rgba(69, 9, 116,0.95);
    --brandColorTextbox: #f1e2fd;
    --tabletSpaceBetweenElements: 25px;
    --titleBackground: rgba(69, 9, 116,0.8);
    --transparentWork: rgba(000, 000, 000, 0.8);
    --linkShadow: 2px 2px rgba(000,000,000, .55);
    --bigBoxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.4) !important;
    --smallBoxShadow: 0 4px 8px 0 rgba(69, 9, 116,0.15), 0 6px 20px 0 rgba(69, 9, 116,0.45) !important;
    --yellowBoxShadow: 0 4px 8px 0 rgba(228, 215, 122,0.15), 0 6px 20px 0 rgba(228, 215, 122,0.65) !important;
    --largeHoverShadow: 0 0 40px 0 var(--brandLightOrange) !important;
    --brandYellowHover: #E4D77A;
    --purpleColorLight: #46097459;
    --buttonShadow: 0 0 35px 0 var(--brandColorTextbox);
    /* Brand Colours */
    --brandSkyBlue: rgba(135, 206, 235, 1);
    --brandSkyBlueLight: rgba(135, 206, 235, .5);
    --brandSilver: rgba(192, 192, 192, 1);
    --brandLimeGreen: rgba(50, 205, 50, 1);
    --brandLimeGreenLight: rgba(50, 205, 50, .5);
    --brandBrightYellow: rgba(255, 255, 0, 1);
    --brandSoftPink: rgba(255, 182, 193, 1);
    --brandLightOrange: rgba(255, 165, 0, 1);
    --brandGold: rgb(255, 215, 0, 1);
}

.box-shadow {
    box-shadow: var(--smallBoxShadow);
}

.yellow-shadow {
    box-shadow: var(--yellowBoxShadow);
}

/* Text Styles */

p {
    font-size: 16px;
}

small {
    color: black;
    font-size: large;
}

h1 {
    font-size: 32px;
    color: var(--brandColor);
}

.linkOnPurple {
    color: var(--brandGold) !important;
    text-decoration: underline;
}

.linkOnPurple:hover {
    color: var(--brandYellowHover) !important;
    text-decoration: underline;
}

/* Button Style */

.onPurpleButton{
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    border-color: var(--brandColor);
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: var(--brandGold);
    transition: 0.33s;
    
}

.onPurpleButton:hover {
    transform: scale(1.05);
    transition: 0.33s;
    background-image: linear-gradient(var(--brandGold), var(--brandColorTextbox));
    box-shadow: var(--buttonShadow);

}

.display-none {
    display: none !important;

}

.btn-primary {
    display: flex;
    align-items: center;
    border-color: var(--brandColor);
    background-color: transparent;
    color: var(--brandColor);
}

.btn-primary:hover {
    border-color: black;
    transition: 0.5s;
    background-color: var(--brandColor);
    color: white !important;
    box-shadow: var(--linkShadow);
}

.purple-text {
    color: var(--brandColor);
}

/* Project Button Style */

.filter-tags{
    display: flex;
    justify-content: left ;
    flex-wrap: wrap;
    gap: 25px;

}

.filter-button{
    display: flex;
    padding: 3px 10px 3px 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: var(--brandGold);
    transition: 0.33s;
    border: none;
    box-shadow: var(--linkShadow);
    
}

.filter-button:hover {
    transform: scale(1.15);
    transition: 0.33s;
    background-color: var(--brandSoftPink);

}

.filter-button-active {
    background-color: var(--brandSoftPink);
    transform: scale(1.15);

}

.filter-chevron {
    height: 10px;
    width: 10px;
    transform: rotate(90deg);
}

.uniformWidth {
    min-width: 20vh;
}

.projectBtn-wrapper {
    display: flex;
    justify-content: center;

}

.projectBTN{
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    background-image: linear-gradient(var(--brandSkyBlueLight), var(--brandSkyBlue));
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    transition: 400ms;
    transform: scale(1);
    
}

.projectBTN:hover {
    background-image: linear-gradient(var(--brandSkyBlue), var(--brandSkyBlueLight));
    transition: 200ms;
    transform: scale(1.03);
    box-shadow: var(--buttonShadow);
}

/* Nav Bar */

#logoImg {
    height: 75px;
}

#mobile {
    text-align: end;
}

li {
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    margin: 0px 15px;
}

a {
    color: var(--brandColor) !important;
}

.dropdown-item {
    color: white !important;
}

.dropdown-item:hover {
    color: black !important;
    transition: 0.5s;
}

.dropdown-menu {
    background-color: var(--brandColor);
}

.btn-primary {
    border-color: var(--brandColor);
    background-color: transparent;
}

a:hover {
    text-decoration: none;
}

.navbar-brand {
    padding: 0px;
    margin: 0px;
}

.navbar {
    z-index: 100;
    width: 100%;
    padding: 0px;
    background-image: linear-gradient(to top,
    rgba(255,255,255,0.3),
    rgba(255,255,255,1));
    justify-content: space-between;
}

.nav-item {
    margin: 0px 15px;
}

.nav-link:hover {
    border-color: black;
    border-radius: 5px;
    transition: 0.5s;
    background-color: var(--brandColor);
    color: white !important;
    box-shadow: var(--linkShadow);
}

.navbar-expand-lg {
    align-items: flex-start;
}

.navbar-toggler {
    background-color: #fff;
}

/* Hero Section (Jumbotron) */

.jumbotron {
    height: 60vh;
    background-image: url(../../public/assets/images/desktop-hero-rob-hiking-sunset.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-shadow: var(--bigBoxShadow);
}

.jumboCopy {
    padding: 10px;
    display: flex;
    background-color: var(--transparentBackground);
    flex-wrap: wrap;
    text-align: left;
    width: 70%;
    margin-bottom: 50px;
}

.page-break {
    padding: 20px;
    display: flex;
    background-color: var(--transparentBackground);
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 80%;
    box-shadow: var(--smallBoxShadow);
}


.page-break h2 {
    color: var(--brandColor);
    text-align: center;
}

.page-break-background {
    padding: 25px 0;
    margin-top: 25px;
    background-color: var(--brandYellowHover);
    display: flex;
    align-content: center;
    justify-content: center;
}

.yellow-background{

    background-color: var(--brandYellowHover);
}

.purple-background{

    background-color: var(--purpleColorLight);
}


.homepage-icons{
    color: var(--brandColor);
    margin-right: 10px;

}

/* work Section */
.project-container {
    animation: projectFade .5s;

}

@keyframes projectFade {
    0% {
        opacity: 0;
    }
    

    100% {
        opacity: 1;
    }
}

.work-card {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center;
    min-height: 75vh !important;
    box-shadow: var(--bigBoxShadow);
    position: relative;
    transition: 400ms ease-in;
    transform: scale(1);

}

.work-card:hover {
    box-shadow: var(--largeHoverShadow);
    transition: 400ms;
    transform: scale(1.02);

}

.work-ul {
    background-color: var(--transparentWork);
    flex-wrap: wrap-reverse;
    justify-content: left;

}

.h3-portfolio {
    text-align: center;
    background-color: var(--titleBackground);
    color: white;
    padding: 5px;
}

#card-description {
    text-align: center;
    background-color: var(--brandColor);
    color: white;
    padding: 5px;
    position: absolute;
    bottom: 0;
    border-radius: 40px 40px 0 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1), 5px 6px 25px 0 rgba(0, 0, 0, 1) !important;
    min-height: 25vh !important;
}

#card-description p {
    font-size: 14px;
    margin: 0 auto;
    width: 90%;
}

.mb-4 {
    margin-bottom: 0 !important;
}

/* Icon Colour */

.bi {
    color: var(--brandColor);
    font-size: 20px;
    margin-right: 10px;
}

/* Animation for little platform icons in work section */

.animate-icon {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

    60% {
		transform: scale(1.5);
	}

	100% {
		transform: scale(1);
	}
}

/* Contact section */

.about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


#robs-headshot {
    object-fit: cover;
    width: 100%;
}


.about-btn {
    display: flex;
    justify-content: center;
    margin: 25px 0px;
}

/* Footer Styles */
#footer-wrapper {
    background-color: var(--brandColor);
    text-align: center;
    color: white;

}

#footer-locations {
    display: flex;
    justify-content: space-evenly;
    font-weight: 100;


}

#footer-locations .nav-item {
    font-size: 15px;

}


#footer {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
}

.hello-world {
    color: #9880ff;
}

footer img {
    border: 1px solid white;
    margin-bottom: var(--tabletSpaceBetweenElements);
}

.footer-nav {
    color: var(--brandGold) !important;
    text-decoration: underline;
}

.footer-nav:hover {

    background-color: white;
    text-decoration: underline;
    color: black !important;
    box-shadow: 2px 2px rgba(000,000,000,.5);
}

footer img:hover {
    transition: 1s;
    transform: scale(1.25);
    box-shadow: 5px 10px rgba(000,000,000,.5);
}

@media screen and (max-width:768px)

{
    /* Prevents jumbo copy from overlappging header on smaller screens */
    .text-image-alternator {
        display: none;
    }

    .about-me p{
        margin-top: 10px;
    }

    #robs-headshot {
        object-position: 50% 55%;
        width: 100%;
        height: 50vh;
    }


    .jumbotron {
        height: 100%;
        background-position: right;
    }

    .jumboCopy {
        width: 100%;
        padding: 15px;
        margin-top: 100px;
    }

    /* Allows main portfolio card to adjust height to contain content automtically */

    .portfolio-height {
        height: auto;
    }

    /* Card description copy width is increased to improve appearance on smaller and lower resolution devices */

    #card-description p {
        width: 95%;
    }


}

span button {
    margin-top: 1em;
    margin-bottom: 1em;
}

.button-chevron {
    height: 25px;
    animation: button-chevron 1s infinite linear;
}

@keyframes button-chevron {
    0%, 100% {
        transform: translateX(0);
        animation-timing-function: cubic-bezier(0.215,0.61,0.355,1);
    }
    50% {
        transform: translateX(6px);
        animation-timing-function: cubic-bezier(0.55,0.055,0.675,0.19);
    }
}

/* Mobile Screens */

@media only screen and (max-width: 768px ) {
    h1{
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

}

/* Loading button animation] */

.sendingMessage {
    pointer-events: none;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    background-color: var(--brandGold);
    margin-top: 1em;
    margin-bottom: 1em;
}

.dot-carousel {
    margin: auto;
    position: relative;
    left: -9999px;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
    animation: dot-carousel 1.5s infinite linear;
  }
  
  @keyframes dot-carousel {
    0% {
      box-shadow: 9984px 0 0 -1px #9880ff, 9999px 0 0 1px #9880ff, 10014px 0 0 -1px #9880ff;
    }
    50% {
      box-shadow: 10014px 0 0 -1px #9880ff, 9984px 0 0 -1px #9880ff, 9999px 0 0 1px #9880ff;
    }
    100% {
      box-shadow: 9999px 0 0 1px #9880ff, 10014px 0 0 -1px #9880ff, 9984px 0 0 -1px #9880ff;
    }
  }

  /* End */

.checkbox {
    display: flex;
    height: 25px;
    width: 25px;
    margin:10px

}

#outputPage {
    margin-top: 25px
}