/* Additional text stylings on page */

a {
    text-decoration: none;
}

.gitLink {
    color: white !important;
    text-decoration: underline;
}

small {
    color: white;
}

li .bi {
    color: aliceblue;
}

.fade-in {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
     
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        }
}

.fade-in-two {
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
     
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        }
}